<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/alertDashboard.css' />
  </head>
  <body>
    
    <!-- Header HTML is in a separate file -->
    <%- include("partials/header") %>

    <main>
      <h2>Alert Dashboard</h2>

      <h3>Alert List</h3>
      <p>A list of all of the Crisis Alerts that have been generated.</p>

      <!-- 
      The alerts are displayed as a nested unordered list. (<ul> with another <ul>)
      So, the <li> elements in the outer list are each individual alert, 
      and the <li> elements in the inner list are the details of that alert. (name, handed, date)
       -->
      <div class="alertDivContainer">

        <ul class = "alertList">
      
          <% alerts.forEach(alert => { %>
            <li class="alertElement">
              <ul class="alertDetails">
                <li><p><b>Student's Name: </b><%= alert.name %></p></li>
                <li><p><b>Handled: </b><%= alert.handled %></p></li>
                <li><p><b>Date Triggered: </b><%= (alert.created_at).toLocaleString() %></p></li>
              </ul>
            </li>
          <% }) %>
          
        </ul>

      </div>
      

    </main>

    <!-- Footer HTML is in a separate file -->
    <%- include("partials/footer") %>

  </body>
</html>